/* Fonts */
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsBlack";
  src: url("../fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("..//fonts/Poppins-SemiBold.ttf");
}

.poppins {
  font-family: "Poppins";
}

.poppins-bold {
  font-family: "PoppinsBold";
}

.poppins-black {
  font-family: "PoppinsBlack";
}

.poppins-light {
  font-family: "PoppinsLight";
}

.poppins-medium {
  font-family: "PoppinsMedium";
}

.poppins-italic {
  font-family: "PoppinsItalic";
}

.poppins-semiBold {
  font-family: "PoppinsSemiBold";
}

/* Color */
.bgr-body {
  background-color: #f5f5f5;
}

.bgr-light {
  background-color: #ffffff;
}

.bgr-primary {
  background-color: #1b0d44;
}

.bgr-alternative {
  background-color: #3e37a9;
}

.bgr-secondary {
  background-color: #dccdf5;
}

.bgr-danger {
  background-color: #891010;
}

.bgr-success {
  background-color: #288914;
}

.bgr-warning {
  background-color: #e4b55c;
}

.color-alternative {
  color: #3e37a9;
}

.color-primary {
  color: #1b0d44;
}

.color-dark {
  color: #1e1e1e;
}

.color-sublight {
  color: #cacaca;
}

.color-light {
  color: #ffffff;
}

.color-subdark {
  color: rgb(18, 18, 18, 0.75);
}

.color-placeholder {
  color: #b2b0b0;
}
