@media (max-width: 576px) {
    body {
        padding: 0px 8px !important;
    }

    .bg-scroll {
        display: none;
    }

    .highlight img {
        margin-top: 2rem;
    }

    .highlight .title {
        font-size: 32px;
    }

    .highlight .paragraph {
        font-size: 14px;
    }

    #btn-highlight {
        padding: 8px 12px;
        font-size: 16px;
    }

    .learning .row {
        padding: 1rem;
    }

    .learning .tag {
        margin-top: 1rem;
    }

    .learning .paragraph {
        font-size: 14px;
        line-height: 24px;
        font-family: 'PoppinsMedium';
    }

    .learning .learning-grid .row {
        display: flex;
        justify-content: center;
    }

    .report .container {
        padding: 2rem;
    }

    .report img {
        display: none;
    }

    .class .js-card {
        padding: 1rem;
    }

    .class .css-card {
        padding: 1rem;
    }

    .class .html-card {
        padding: 1rem;
    }

    .class .lesson {
        font-size: 11px;
    }

    .class .left-twig {
        display: none;
    }

    footer .footer-list {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}