/* Artikel */
a {
  text-decoration: none;
}

.kategori {
  margin: 60px 40px 0px 0px;
  padding-bottom: 0px;
}

.kategori #kategori-filters {
  margin: 0px;
  list-style: none;
  text-align: center;
}

.kategori #kategori-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  color: #444444;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  font-family: "PoppinsMedium";
}

.kategori #kategori-filters li:hover,
.kategori #kategori-filters li.filter-active {
  color: #fff;
  background: #3e37a9;
}

.kategori #kategori-filters li:last-child {
  margin-right: 0;
}

.card-article {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(99, 99, 99, 0.2);
  overflow: hidden;
  height: 480px;
  margin-top: 20px;
}

.badge {
  border-radius: 40px;
  font-size: 12px;
  font-weight: 500;
  color: #2f2f2f;
}

.date {
  font-size: 12px;
  font-family: "PoppinsMedium";
  color: #b8b8b8;
}

.card-title {
  font-size: 18px;
  font-family: "PoppinsBold";
}

.card-title .view {
  text-decoration: none;
}

.card-title .view:hover {
  color: #3e37a9;
  font-weight: 600;
}

.card-text {
  font-size: 12px;
  line-height: normal;
  font-family: "PoppinsLight";
}

.artikel .page-navigation {
  margin-top: 60px;
  margin-bottom: 100px;
  align-items: center;
}

.right-twig {
  position: absolute;
  right: 0;
  width: 160px;
  margin-top: -120px;
}

.left-twig {
  position: absolute;
  left: 0;
  margin-top: -140px;
}
