footer {
  background-color: #1b0d44;
  font-family: "Poppins";
  font-size: 16px;
  color: #faf8f9;
  width: 100vw;
}

footer .tag {
  font-family: "PoppinsSemiBold";
  font-size: 14px;
  line-height: 2;
  color: rgb(255, 248, 249, 0.8);
}

footer ul li {
  list-style: none;
  margin-left: -32px;
  margin-top: 16px;
}

footer ul li a {
  text-decoration: none;
  color: #faf8f9;
}

footer ul li a:hover {
  color: #faf8f9;
}

footer .copyright {
  font-size: 14px;
  color: rgb(255, 248, 249, 0.5);
}
