/* Highlight */
#btn-highlight {
  padding: 12px 18px;
  font-size: 16px;
  font-family: "PoppinsMedium";
}

#btn-highlight:hover {
  background-color: #6e67cf;
  color: #ffffff;
}

.highlight .title {
  font-size: 48px;
  font-family: "PoppinsBold";
}

.highlight .paragraph {
  font-size: 18px;
  font-family: "PoppinsMedium";
}

.bg-scroll {
  position: absolute;
  left: 0;
}

/* Learning */
.learning .bg-learning {
  background-image: url("../images/bg-learning.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  max-width: 100%;
}

.learning .tag {
  font-size: 16px;
  font-family: "PoppinsMedium";
}

.learning .title {
  font-size: 32px;
  font-family: "PoppinsBold";
  line-height: 48px;
}

.learning .paragraph {
  font-size: 18px;
  font-family: "PoppinsRegular";
}

.learning .card {
  background-color: #331d76;
  color: #f5f5f5;
  font-family: "PoppinsRegular";
  font-size: 14px;
}

/* Benefit */
.benefit .container {
  max-width: 100vw;
}

.benefit .tag {
  font-size: 18px;
  font-family: "PoppinsMedium";
}

.benefit .title {
  font-size: 32px;
  font-family: "PoppinsBold";
}

.benefit .card {
  border-radius: 20px;
}

.card-body .title {
  font-size: 18px;
  font-family: "PoppinsMedium";
}

.card-body .paragraph {
  font-size: 16px;
  font-family: "PoppinsRegular";
}

/* Report */
#report-card {
  background-image: url(../images/bg-report.png);
  background-position-x: right;
  background-repeat: no-repeat;
  width: 100vw;
  border-radius: 20px;
}

.report .btn {
  border-radius: 12px;
  padding: 12px 18px;
}

.report .btn a {
  text-decoration: none;
  color: #1b0d44;
}

.report .tag {
  font-size: 18px;
  font-family: "PoppinsMedium";
}

.report .title {
  font-size: 32px;
  font-family: "PoppinsBold";
}

.report .paragraph {
  font-size: 18px;
  font-family: "PoppinsRegular";
}

.report .title-2 {
  font-size: 28px;
  font-family: "PoppinsMedium";
}

.report #btn-report:hover {
  background-color: #f5ca7a;
}

.report #btn-report {
  font: 16px;
  font-family: "PoppinsMedium";
}

.report .right-twig {
  position: absolute;
  right: 0;
  width: 200px;
  margin-top: -120px;
}

/* class */
.class .tag {
  font-size: 18px;
  font-family: "PoppinsMedium";
}

.class .title {
  font-size: 32px;
  font-family: "PoppinsBold";
}

.class .title-1 {
  font-size: 24px;
  font-family: "PoppinsMedium";
}

.class .paragraph {
  font-size: 16px;
  font-family: "PoppinsLight";
}

.class .card-thumbnail {
  object-fit: contain;
  overflow: hidden;
}

.class .border-card {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.class .card-body {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.class .badge-text {
  font-size: 16px;
  font-family: "PoppinsRegular";
}

.class .lesson {
  font-size: 12px;
  font-family: "PoppinsLight";
}

.class .price-class-card {
  font-size: 14px;
  font-family: "PoppinsBold";
}

.class .lesson-wrapper {
  border-radius: 8px;
}

.class .btn-class {
  padding: 12px 18px;
  width: 100%;
  font-size: 16px;
  font-family: "PoppinsMedium";
}

.class .btn-class:hover {
  background-color: #6e67cf;
  color: #ffffff;
}

.class .left-twig {
  position: absolute;
  left: 0;
  margin-top: -180px;
}
