.transaction .category {
  font-family: "Poppins-Medium";
  font-size: 20px;
  color: #121212;
}

.transaction .detail-header {
  font-family: "Poppins";
  font-size: 16px;
  color: #121212;
}

.transaction .detail-body {
  font-family: "Poppins-Medium";
  font-size: 16px;
  color: #121212;
}

.transaction .placeholder-price {
  font-family: "Poppins-Medium";
  font-size: 20px;
  color: #121212;
}

.transaction .price-total {
  font-family: "Poppins-Medium";
  font-size: 20px;
  color: #891010;
}
